.pexea12-hv-container {
  position:fixed; 
  width: 200px; 
  z-index: 1000000; 
  background-color: #d2d2d1; 
  right: 0; 
  top: 10px;
  color: #090950;
  border-radius: 5px;
  padding-bottom: 5px;
  display: none;
}

.pexea12-hv-content {
  display: none;
}

.pexea12-hv-letter {
  margin: 30px 0px;
  font-size: 50px;
  text-align: center;
}

.pexea12-hv-pronunciation, .pexea12-hv-meaning {
  padding: 10px;
}

.pexea12-hv-meaning {
  border: 1px solid black;
  max-height: 200px;
  overflow-y: scroll;
}

.pexea12-hv-pronunciation span {
  font-weight: bold;
}

.pexea12-hv-strokes {
  text-align: center;
}

.pexea12-hv-cancel {
  text-align: center;
  margin-bottom: 10px;
}

.pexea12-hv-cancel a {
  background-color: #f94040;
  display: inline-block;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.pexea12-hv-cancel a:hover {
  background-color: #e81919;
}

.pexea12-hv-loading {
  margin: 10px;
  text-align: center;
  display: none;
}

.pexea12-hv-loading div {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}